__pycache__/
*.py[cod]
.venv/
env/
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
*.key
*.pem
*.sqlite3
static/Vector_model/model.safetensors
static/Vector_model/pytorch_model.bin
static/Vector_model/temp_files.zip
static/Vector_model/.git
static/Faiss_vector_databases/*.index
static/Faiss_vector_databases/*.json
media/
db.sqlite3
